################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library.Api.slnx
/.vs/Library.Api.slnx
/.vs/ProjectEvaluation/library.api.metadata.v10.bin
/.vs/ProjectEvaluation/library.api.projects.v10.bin
/.vs/ProjectEvaluation/library.api.strings.v10.bin
/Library.Api.Tests/bin/Debug/net10.0/Library.Api.dll
/Library.Api.Tests/bin/Debug/net10.0/Library.Api.pdb
/Library.Api.Tests/bin/Debug/net10.0/Library.Api.exe
/Library.Api.Tests/bin/Debug/net10.0/Library.Api.Tests.dll
/Library.Api.Tests/bin/Debug/net10.0/Library.Api.Tests.pdb
/Library.Api.Tests/obj/Debug/net10.0/ref/Library.Api.Tests.dll
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.AssemblyInfo.cs
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.AssemblyInfoInputs.cache
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.csproj.AssemblyReference.cache
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.dll
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.pdb
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.sourcelink.json
/Library.Api.Tests/obj/Debug/net10.0/refint/Library.Api.Tests.dll
/Library.Api.Tests/bin/Debug/net10.0
/Library.Api.Tests/obj/Debug/net10.0/Library.Api.Tests.assets.cache
/Library.Api.Tests/Services/app.config
